<%- include('partials/header.ejs') %>

<% result.forEach((blog)=>{ %>
<section  id="create">
    <div class="heading">
        <h1>Create new blog</h1>
    </div>
    <div class="inside">
        <form action="/edit/<%= blog.id %>" method="post">
            <input name='title' value='<%= blog.title %>'  type="text">
            <input name='img_url' value='<%= blog.img_url %>'  type="text">
            <textarea name="description" id="" cols="100" rows="10"> <%= blog.description %></textarea>
            <div class="btn-container">
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
</section>
<%});%>




<%- include('partials/footer.ejs') %>