<%- include('partials/header.ejs') %>

<div class="create-link-container">
    <a  class="create-link" href="/create"> create new blog</a>
</div>

 <% result.forEach((blog)=>{ %>

 
    <section id="all-contents">
    <div class="inside">
        <div class="title"><%= blog.title %></div>
        <div class="image-container">
            <img class="image" src="<%= blog.img_url %>" alt="">
        </div> 
        <span></span>
       
        <div class="btn-container">
            <a class="btn" href="\show\<%= blog.id %>">Show More</a>
        </div>
        <p class=""><%= blog.created_at %></p>
        <div class="hr"></div>
    </div>
    
  
</section>
<%});%>





<%- include('partials/footer.ejs') %>